<html>
<head>
  <title>Sequelize Blog Lab</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Show all blog posts</h1>
    <!--show all blog posts sorted by date -->
    <% posts.forEach(function(indivPosts){ %>
     <article> <%= indivPosts.content %>  </article> 
    <% }) %>
    
  <ul>
    <li><a href="posts/new"> Add a new post</a></li>
  </ul>
</body>
</html>

